.App {
  text-align: center;
}

.badge {
  background-color: rgb(55, 55, 196);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.buttons {
  padding: 10px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  padding-top: 4%;
  padding-left: 12%;
  padding-right: 12%;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-left:50px;
  margin-right: 50px;
  padding: 5px;
}

.div1 {
  border:1px solid rgb(111, 111, 111);
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
}

.div2 {
  padding-bottom: 10px;
}

.form {
  width: 30%;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 8px;
  background-color: white;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.line{
  font-size: 13px;
  margin-bottom: 5px;
  width: 80%;
}

.notification {
  padding: 5px;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 30px;
}

.notificationbtn {
  border: none;
  background-color: white;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.submitbtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: aliceblue;
  border-radius: 10px 10px 10px 10px;
  background: rgb(0, 102, 165);
}

.submitbtn1 {
  width: 40%;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background: rgb(0, 102, 165);
  margin-bottom: 5px;
}

.title1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(34, 34, 34);
}

.title2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(34, 34, 34);
}


