.App {
  text-align: center;

}

.badge {
  background-color: #3f35ff;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.badge-error {
  background-color: #d32f2f;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.buttons {
  padding: 10px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}

.content {
  padding-left: 12%;
  padding-right: 12%;
}


.div1 {
  border:1px solid rgb(111, 111, 111);
  border-radius: 10px 10px 10px 10px;
  padding: 8px;
  margin: 10px;
  width: 80%;
}

.div2 {
  padding-bottom: 10px;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.line{
  font-size: 13px;
  margin-bottom: 5px;
  width: 80%;
}

.logoutbtn{
  width: 7%;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #3f35ff;
  border-radius: 10px 10px 10px 10px;
  color: #3f35ff;
  background: white;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.notification {
  padding: 5px;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 30px;
}

.notificationbtn {
  border: none;
  background-color: white;
}

p {
  font-size: 15px;
}

.submitbtn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px 10px 10px 10px;
  color: white;
  background: #3f35ff;
}

.submitbtn1 {
  width: 40%;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px 10px 10px 10px;
  background: rgb(0, 102, 165);
  margin-bottom: 5px;
}

.status{
  text-align: left;
  margin-left: 80px;
}


.title1 {
  text-align: center;
  /* margin-bottom: 5px; */
  font-size: 30px;
  color: rgb(34, 34, 34);
}

.title2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(34, 34, 34);
}